.container__button.container__button--view-docs {
    background: transparent;
    color: white;
    border: 1px solid transparent;
}

button.container__button--view-docs::before,
button.container__button--view-docs::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #3f3f3f;
    transition: all .2s linear;
}

button.container__button--view-docs:hover::before,
button.container__button--view-docs:hover::after {
    width: 100%;
}

button.container__button--view-docs:hover span::before,
button.container__button--view-docs:hover span::after {
    height: 100%;
}

button.container__button--view-docs::after {
    right:0;
    bottom: 0;
    transition-duration: .4s;
}

button.container__button--view-docs span::after{
    left: 0;
    top: 0;
    transition-duration: .4s;
}

button.container__button--view-docs::before {
    left:0;
    top: 0;
    transition-duration: .4s;
}

button.container__button--view-docs span::before {
    left:0;
    top: 0;
    transition-duration: .4s;
}

.container__button.container__button--view-docs{
    display: flex;
    align-items: center;
    position: relative;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin: 0;
    background: #1a2929;
    font-family: "Geist Sans", sans-serif;
}

button.container__button.container__button--view-docs span {
    display: block;
    padding: 2px 10px;
}