@import url('fonts.css');

html {
    width: 100%;
}

body {
    font-family: 'Geist Sans', sans-serif;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

.header{
    width: 100%;
    padding: 2px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #323232;
    background: linear-gradient(180deg, #000000, #181818);
    position: fixed;
    top: 0;
    left: 0;   
    z-index: 2;
}

.header__inner {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
    transition: all .2s linear
}

.header__inner-left {
    display: flex;
    align-items: center;
}

.header__title {
    margin: 0;
    font-size: 24px;
    background: -webkit-linear-gradient(280deg, #ffffff, #4d4d4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__nav {
    gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.header__nav.active {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 2rem;
}

.header__link {
    color: #8a8a8a;
    text-decoration: none;
    font-size: 16px;
}
.header__link:hover {
    color: white;
}

.header__auth {
    display: flex;
    align-items: right;
    margin-right: 20px;
    padding: 20px 0;
}

.header__button{
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
    font-family: "Geist Sans", sans-serif;
    border-radius: .5rem;
    border: 1px solid #525252;
    padding: 10px 20px;
    transition: all .2s linear;
    cursor: pointer;
    margin-left: 10px;
}

.header__button:hover {
    background-color: #262626;
    color: #ffffff;
    border: 1px solid #a4a4a4;
}

.header__button--sign-in {
    background-color: #035600;
}

.mobile-menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
    color: #ffffff;
}

.container {
    position: relative;
    top: 5rem;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 90px 0;
    padding-bottom: 20px;
    z-index: 1;
}

.container:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*background: linear-gradient(180deg, #000000, #181818);*/
    z-index: -1;
}

.container__title {
    font-size: 55px;
    margin: 20px 0;
    color:#ffffff
}

.container__description {
    font-size: 18px;
    margin: 20px 0;
    color:#bbb;
    font-family: "Geist Sans", sans-serif;
}

.container__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: auto;
}

.container__button {
   margin: 10px;
   padding: 10px 20px;
   background-color: #ffffff;
   font-family: "Geist Sans", sans-serif;
   font-size: 16px;
   border: 1px solid transparent;
   transition: all .2s linear;
   border-radius: 8px;
   color: #222;
}

.container__button:hover {
    background-color: #262626;
    border: 1px solid #d7d7d7;
    color: #fff;
    cursor: pointer;
}

/* view docs button style */

/* view docs button style */

.container__button.container__button--view-docs {
    display: flex;
    align-items: center;
    position: relative;
    background: transparent;
    color: white;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-family: "Geist Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
}

.container__button.container__button--view-docs span {
    position: relative;
    z-index: 1;
}

/* Animated border effect */
.container__button--view-docs::before,
.container__button--view-docs::after,
.container__button--view-docs span::before,
.container__button--view-docs span::after {
    content: '';
    position: absolute;
    background: #ffffff;
    transition: all 0.3s ease;
}

/* Top border */
.container__button--view-docs::before {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
}

.container__button--view-docs:hover::before {
    width: 100%;
}

/* Right border */
.container__button--view-docs span::before {
    top: 0;
    right: -16px;
    width: 2px;
    height: 0%;
}

.container__button--view-docs:hover span::before {
    height: 100%;
}

/* Bottom border */
.container__button--view-docs::after {
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
}

.container__button--view-docs:hover::after {
    width: 100%;
}

/* Left border */
.container__button--view-docs span::after {
    bottom: 0;
    left: -16;
    width: 2px;
    height: 0;
}

.container__button--view-docs:hover span::after {
    height: 100%;
}



/* Code Container Styles */

.code-container {
    background: radial-gradient(#444444, #000000);
    border: 1px solid #282828;
    border-radius: 10px;
    padding: 25px 0 0 0;
    width: 100%;
    max-width: 375px;
    margin: 120px auto 0 auto;
}

.copy-icon {
       position: absolute;
       top: 1rem;
       right: 1rem;
       color: #3b3b3b;
       font-size: 1.5rem;
       width: 2rem;
       height: 2rem;
       z-index: 2;
   }

   .copy-icon:hover {
       color: #828282;
       cursor: pointer;
   }

@media (min-width: 500px) {
    .code-container {
        max-width: 500px;
    }
}

@media (min-width:1050px){
    .code-container {
        max-width: 960px;
    }
}

.code-container__tabs{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    gap: .5rem;
    overflow-x: auto;
    padding: 0 10px;
}

.code-container__tab{
    background-color: #121212;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #323232;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.code-container__tab--active{
    color: #d2d2d2;
    background: radial-gradient(circle, #2f2f2f, #121212);
}

.code-container__icon{
    font-size: 20px;
    filter: grayscale(100%);
}

.code-container__content{
    position: relative;
    background: linear-gradient(180deg, #191919, #000000);
    border-radius: 10px;
    padding: 20px;
    height: 500px;
    overflow-y: scroll;
}

.code-container__code{
    display: none;
    background-color: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.code-container__code--active{
    display: flex;
}

pre [class*="language-"] {
    background: transparent;
    padding: 0;
    width: 100%;
    margin: 0;
}

.code-container__content pre[class*="language-"] {
    padding: 10px;
    border-radius: 5px;
    background: transparent !important;
}

pre[class*="language-"] code[class*="language-"] {
    background: transparent !important;
}

.code-container__code code {
    background: transparent !important;
}

.code-container-bg-blur{
    position: absolute;
    top: -100px;
    left: -100px;
    width: 130vw;
    height: 1000px;
    background: radial-gradient(circle, rgba(46, 46, 46, 0.288), rgba(0, 0, 0, 0.247));
    z-index: -2;
}
/*line numbers*/

pre[class*="language-"] .line-numbers {
    position: relative;
    padding-left: 3.8rem;
    counter-reset: linenumber;
    border-left: none !important;
}
pre[class*="language-"] .line-numbers > code  {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8rem;
    width: 3em; 
    letter-spacing: -1px;
    border-right: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #4f4f4f;
    display: block;
    padding-right: 0.8rem;
    text-align: right;
}


@media (min-width: 500px) {
    .code-container-bg-blur {
        width: 110vw;
    }
    
    .header__inner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }
}

/*OPEN SOURCE SECTION*/

.open-source-section{
    text-align: center;
    padding: 50px 20px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.section-subtitle{
    font-size: 18px;
    color: #888888;
    margin-bottom: 10px;
}

.section-title{
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
}

.section-description{
    font-size: 18px;
    color: #bbbbbb;
    margin-bottom: 30px;
}

.github-button{
    background-color: #1a2929;
    border: 2px solid #3f3f3f;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s linear;
    display: inline-flex;
    align-items: center;
}

.github-button i {
    margin-right: 10px;
    font-size: 20px;
}

.github-button:hover {
    border-color: #a4a4a4;
}

.gitpulse {
    position: relative;
    padding: 100px 0;
}

.gitpulse img {
    width: 100%;
    max-width: 600px;
}

.gitPulse__bg {
    top: -200px;
    left: 0;
    margin: 140px 0 70px 0;
    opacity: 0.15;
    background-image: url("../images/circuits.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

/* footer */
.footer {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.footer__inner {
    position: absolute;
    display: flex;
    gap: 20px;
    margin-top: 5rem;
}

@media screen and (min-width: 768px) {
    .footer__inner {
        margin-top: 1rem;
        overflow-y: hidden;
        height: 155px;
    }   
}

.footer__inner span {
    font-size: 15vw;
    font-weight: bold;
    letter-spacing: -.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .5s ease-in, transform .5s ease-in;
    background: linear-gradient(to right, #404040, #212121);
    background-clip: text;
    color: transparent;
}


.footer__inner span.animate {
    opacity: 0.75;
    transform: translateY(0);
}

@keyframes fall {
    0% {
        transform: translateY(-10vh);
        opacity: 0;
    } 
    10%{
        opacity: .75;
    }
    100% {
        transform: translateY(110vh);
        opacity: 0;
    }
}

/* FALLIING STARS */
@keyframes fall {
    0% {
        transform: translateY(-10vh);
        opacity: 0;
    }
    10% {
        opacity: 0.75;
    }
    100% {
        transform: translateY(110vh);
        opacity: 0;
    }
}

.star {
    position: fixed;
    top: -10vh;
    width: 1px;
    height: 100px;
    background: linear-gradient(to bottom, transparent, white, transparent);
    opacity: 0;
    animation: fall 3s linear infinite;
}

@keyframes twinkling {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.star::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100px;
    background: linear-gradient(to top, white, white, transparent);
    border-radius: 50%;
    transform: translateX(-50%);
    animation: twinkling 4.5s infinite;
}